// ::v-deep .eModal .ivu-modal-body {
//     padding: 0px;
//     overflow: hidden;
// }
.eModal {
    .ivu-modal-close{
        transform: rotate(0deg);
        transition: all 0.5s ease 0s;
        &:hover{
            transform: rotate(90deg);
        }
        .ivu-icon-ios-close{
            font-size: 32px;
            font-weight: 600;
            color:#666;
            background-color: #f9f9f9;
            border-radius: 50%;
            top:0;
            border: solid 1px #ccc;
            &:hover{
                color:#333;
            }
           
        }
    }
    .ivu-modal-body {
        padding: 0px;
        overflow: hidden;
    }
    .header {
        display: flex;
        height: 48px;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        border-bottom: solid 1px #ddd;

        .title {
            font-size: 16px;
            font-weight: 600;
            padding: 0 20px 0 12px;
        }

        .close {
            position: absolute;
            right: 16px;
            top: 14px;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.5s ease 0s;

            &:hover {
                transform: rotate(90deg);
            }
        }
    }

    .eModal-body {
        height: calc(100vh - 100px);
        overflow: hidden;
    }


    .footer{
        width: 100%;
        display: flex;
        height: 48px;
        justify-content: flex-end;
        padding: 0 16px;
        align-items: center;
        margin: 0;
        border-top: solid 1px #ddd;
        // position: absolute;
        // bottom: 0;
        // left: 0;
        position: static;
        background-color: #fff;
        z-index: 8;
        border-radius: 6px;

        .left{
          flex:1;
          text-align-last: left;
        }
        border-radius: 0 0 8px 8px;
    }
    .ivu-modal-footer{
        display: none;
    }
}