@font-face {
  font-family: "iconfont"; /* Project id 4969823 */
  src: url('iconfont.woff2?t=1751959947616') format('woff2'),
       url('iconfont.woff?t=1751959947616') format('woff'),
       url('iconfont.ttf?t=1751959947616') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixu:before {
  content: "\e610";
}

.icon-quanping:before {
  content: "\e611";
}

.icon-shuaxin:before {
  content: "\e612";
}

.icon-shouqilie:before {
  content: "\e613";
}

.icon-zhankailie:before {
  content: "\e614";
}

.icon-caidanshouqi:before {
  content: "\e6d3";
}

.icon-caidanzhankai:before {
  content: "\e6d4";
}

