.button-span {
    cursor: pointer;
    margin: 0 8px;
}
.button-color-edit {
    cursor: pointer;
    color: var(--ivu-primary-color);
}
.button-color-del {
    cursor: pointer;
    color: #e02020;
}
.button-color-edit {
    span {
        color: var(--ivu-primary-color);
    }
}
.button-color-del {
    span {
        color: #e02020;
    }
}
// //MiSans,冬青黑体简体中文,Hiragino Sans GB,Microsoft YaHei,
// @font-face {
//     font-family: MiSans;
//     src:  
//     url('/statics/font/MiSans/MiSans-Normal.woff')  format("woff"),
//     url('/statics/font/MiSans/MiSans-Normal.woff2')  format("woff2"),
//     url('/statics/font/MiSans/MiSans-Normal.ttf')  format("ttf"),
//     url('/statics/font/MiSans/MiSans-Normal.otf')  format("otf");
//     font-display: swap;
// }
.mark-book{
    font-family:monospace , "微软雅黑" , "PingFang SC", "Hiragino Sans GB", sans-serif;
}



$size-map: (-2: -2px,0:0px,4: 4px, 5: 5px, 8:8px, 10: 10px , 12:12px, 14: 14px, 15: 15px, 16: 16px, 20: 20px, 24: 24px, 25: 25px, 26:26px, 30: 30px, 40: 40px, 140: 140px);
@each $name in map-keys($size-map) {
    $value: map-get($size-map, $name);
    .mt-#{$name} {
        margin-top: $value;
    }
    .mr-#{$name} {
        margin-right: $value;
    }
    .mb-#{$name} {
        margin-bottom: $value;
    }
    .ml-#{$name} {
        margin-left: $value;
    }
    .margin-#{$name} {
        margin: $value;
    }
    .pt-#{$name} {
        padding-top: $value !important;
    }
    .pr-#{$name} {
        padding-right: $value;
    }
    .pb-#{$name} {
        padding-bottom: $value;
    }
    .pl-#{$name} {
        padding-left: $value;
    }
    .pd-#{$name} {
        padding: $value;
    }
}


code {
    /* 保留空白符和换行，这是多行代码显示的前提 */
    white-space: pre;
    /* 确保文本可换行，避免溢出容器 */
    word-wrap: break-word;
    /* 或者使用 overflow-wrap: break-word; */

    /* 基础样式 */
    font-family: "Consolas", "Monaco", "Courier New", monospace; /* 等宽字体，便于代码对齐 */
    background-color: #c7c5c5; /* 浅色背景 */
    color: #333; /* 主文字颜色 */
    padding: 1em; /* 内边距，增加呼吸感 */
    border-radius: 4px; /* 圆角 */
    display: block; /* 块级元素，以占据整行 */
    overflow-x: auto; /* 水平方向溢出时显示滚动条 */
}

.list-manage{
    height: calc(100% - 16px);
    display: flex;
    flex-direction: column;
    margin: 16px 16px 0;

    .search-box{
        flex: 0 0 auto;
        background-color: #fff;
        border-radius: 4px;
        width: 100%;
        padding:16px 16px 14px;
        .search-input{
            width:160px;
        }

    }
    .buttons-box{
        text-align: right;
        // margin: 12px;
        padding:12px;
        flex: 0 0 auto;

    }
    .table-box{
        flex: 1;
        // margin: 16px;
    }
    .page-paging{
        padding: 10px 16px;
        text-align: right;
    }

}


