// @import "~view-design/src/styles/index.less";
// Here are the variables to cover, such as:
// @primary-color: #326BE6;
// @link-color             : #326BE6;

/* @menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;

@layout-header-background    : #fafafa;

@primary-color: #13939e;
@info-color: #2db7f5;
@link-color             : #13939e;

@link-hover-color       : tint(@link-color, 20%);
@border-color-split:rgba(216,216,216,1);
@warning-color          : #DF5A2C;
@table-td-hover-bg            : rgba(245,247,250,1);
@font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@code-family            : Consolas,Menlo,Courier,monospace;
@font-size-color:rgba(0,0,0,0.65);
 */