$font-size-color:rgba(0,0,0,0.65);//灰色字体
$bg-color:#f0f2f5;//主背景色
// $bg-color:rgba(244,246,249,0.8);//主背景色
$tabbg-color:rgba(240,242,245,1);//tab背景色
$titlebg-color:rgba(34,74,144,0.1);//标题背景色
$border-color:rgba(232,232,232,1);//边框颜色
$tablebg-color:rgba(250,250,250,1);//表格项背景色
$tablehover-color:#E8EEF9;//表格hover
$table-error-color:#FBE8E8;
// $tablehover-color:rgba(224, 32, 32, 0.1);//表格hover
$active-color:#DF5A2C;
$bar-color:rgba(34,74,144,0.1);//背景条颜色
$text-color:rgba(0,0,0,0.85);//正文颜色
$red-color:#E02020;
$loginBut-color:#224A90;//登录按钮颜色
$loginButHover-color:rgba(34,74,144,0.85);//登录hover按钮颜色
$but-color:#DF5A2C;//按钮颜色
$butHover-color:rgba(223,90,44,0.85);//按钮hover颜色
// 字体大小
$font-size:12px;

// 主色调
$primary-color: #13939E;
// 超链颜色
$link-color: #13939E;
// 背景颜色
$bg-color-primary: #13939E;
//info button
$info-color:#40A092;
